@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles that can't be easily replaced with Tailwind */
.rating svg {
  @apply text-yellow-400;
}

.product-title {
  @apply h-10 overflow-hidden text-ellipsis whitespace-nowrap;
}

.carousel-caption {
  @apply absolute w-full left-0 right-0 bottom-0 bg-black bg-opacity-50;
}

main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}
